# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* python code 
* library for data science

Some of the popular languages that Data Scientists use are:
- python
- SQL
- R
- JAVA
- C++

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Nampy
- TensorFlow
- Seaborn

|Data Science Tools|
--------
|Jupiter|
|Rstudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python
x=10
y=20
result=y-x
print(result)

In [3]:
#This a simple arithmetic expression to mutiply then add integers
result=(3*4)+5
print(result)

17

In [4]:
#his will convert 200 minutes to hours by diving by 60
result=200/60
print(result)

3.3333333333333335

## Author
Charis Panagiotidis